<!-- <table mat-tabel [dataSource] = "RecordData">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.firstName + element.lastName}} </td>
    </ng-container>
</table> -->

<!-- <mat-table #table [dataSource] = "datasource">
    <ng-container  matColumnDef="confidence">
        <mat-header-cell *matHeaderCellDef>Confidence</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.confidence}}</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
</mat-table> -->

<div class="container" *ngIf="ScanData.length > 0" >
    <table mat-table [dataSource]="datasource"> 
        
        <ng-container matColumnDef="imageUrl">
            <th mat-header-cell *matHeaderCellDef id="textpic"> PICTURE </th>
            <td mat-cell *matCellDef="let element"> <img id="image" [src]="element.imagePath" (click)="openDialog(element.imagePath)"/> </td>
          </ng-container>
          <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef id="text"> CUSTOMER NAME </th>
            <td mat-cell *matCellDef="let element" id="text"> {{element.userObject.firstName + ' ' + element.userObject.lastName}} </td>
          </ng-container>
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> EMAIL </th>
            <td mat-cell *matCellDef="let element" id="text"> {{element.userObject.email}} </td>
          </ng-container>
          <ng-container matColumnDef="phno">
            <th mat-header-cell *matHeaderCellDef> PHONE NUMBER </th>
            <td mat-cell *matCellDef="let element"> {{element.userObject.phoneNumber}} </td>
          </ng-container>
          <ng-container matColumnDef="$key">
            <th mat-header-cell *matHeaderCellDef> SCAN ID </th>
            <td mat-cell *matCellDef="let element"> {{element.$key}} </td>
          </ng-container>
    
          <ng-container matColumnDef="confidence">
            <th mat-header-cell *matHeaderCellDef> CONFIDENCE </th>
            <td mat-cell *matCellDef="let element"> {{element.confidence}} </td>
          </ng-container>
          <ng-container matColumnDef="text">
            <th mat-header-cell *matHeaderCellDef> TEXT </th>
            <td mat-cell *matCellDef="let element" id="text"> {{element.text}} </td>
          </ng-container>
          <ng-container matColumnDef="createdTime">
            <th mat-header-cell *matHeaderCellDef> REG DATE </th>
            <td mat-cell *matCellDef="let element"> {{element.scanTime | date:'MM/dd/yy' }} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
    </table>
</div>
<!-- 
<p>jrecords works!</p>
<button mat-flat-button color="warn" (click)="GetScans()">Submit</button> -->
