* {
  font-family: 'IBM Plex Sans' /* Replace with your custom font */, sans-serif !important; 
  /* Add !important to overwrite all elements */
}

body{
  font-family: 'IBM Plex Sans', sans-serif !important;
}
body.mat-typography {
  font: 400 14px/20px 'IBM Plex Sans', sans-serif !important;
  letter-spacing: normal;
}